### Topic: Type casting or Type Conversion
- To convert one data type to another

### OUTCOMES
- Type Casting(Conversion).
- input() and print() functions.
- Practical Example

In [8]:
current_year = 2025
print(current_year, type(current_year))

2025 <class 'int'>

In [12]:
# to convert int to float
# format : target_type(source variable)

year = float(current_year)
print(year, type(year))

2025.0 <class 'float'>

In [11]:
num = 10
print(num, type(num))

float_num = float(num)
print(float_num, type(float_num))

10 <class 'int'>
10.0 <class 'float'>

In [14]:
# similar to another
# float to int

price = 99.99
print(price, type(price)) # <class 'float'>

# convert to int
int_price = int(price)
print(int_price, type(int_price)) # <class 'int'>

99.99 <class 'float'>
99 <class 'int'>

In [ ]:
var = "Kz"
num = 10

add = var + num

print(add)  # error: can not concatenate str to int

TypeError: can only concatenate str (not "int") to str

In [19]:
# To solve this above problem by using type casting

var = "Kz"
num = 10

add = var + str(num) # num(int) is convert to str

print(add)  # Kz10

Kz10

In [ ]:

# another example of type casting
add = int(var) + num  # here, we can't convert str to int directly expect numbers
print(add)

ValueError: invalid literal for int() with base 10: 'Kz'

### input() and print() functions.

In [20]:
# Python is dynamic typed language(mans determinate type at runtime)

age = input("Enter you age: ")
print("Your age is:", age)
print("Type of age: ", type(age))

# Note : the input function returns a string by default

Your age is: 23
Type of age:  <class 'str'>

In [21]:
# To solve this problem by using type casting
age = int(input("Enter age: "))
print("Your age is:", age)
print("Type of age: ", type(age))

Your age is: 23
Type of age:  <class 'int'>

### Practical Example
- To Create a Body Mass Inde(BMI) Calculator
- foumula:
       BMI = (weight(in kg) / height (in meter) )

In [24]:
name = input("Enter your name: ")

weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))

BMI = (weight / (height ** 2))

print("Your name : ", name)
print(f"Height : {height} and Weight : {weight}")
print(f"Your BMI is: {BMI:.2f}")

Your name :  KzRaihan
Height : 5.6 and Weight : 65.5
Your BMI is: 2.09