### OUTCOMES:

- Variable
- Comments 
- identation Rules

### Topic: Variable

- Variable is a container that store data.

In [ ]:
# Variable name is simple, short and meaningful.

# Variable Declare and Assign
var = 10   # here, var is variable name and 10 is variable value
name = "KzRaihan"
age = 24
height = 5.8
is_student = True

# printing the Variable value
print(var)
print(name)
print(age)
print(height)
print(is_student)

10
KzRaihan
24
5.8
True

In [2]:
# Valid Variable 
# Variable must start with letter or underscore(_)

course = "Python Programming language"
author = "KzRaihan"
age = 24
book_price = 500.99
is_available = True

# printing the variable value
print("Course Name : ", course)
print("Writer: ", author)
print("Author age: ", age)
print("Book Price: ", book_price)
print("Is Available: ", is_available)

Course Name :  Python Programming language
Writer:  KzRaihan
Author age:  24
Book Price:  500.99
Is Available:  True

In [3]:
# Invalid Variable
# - Variable can't start with a number
# - Variable can't contain spaces, special characters(@, !,#,$ etc)

!_name = "Kz"
var@ = 10
%price = 500.99
first name = "KzRaihan"

SyntaxError: invalid syntax (1970180061.py, line 6)

In [6]:
# Naming Conventions
# - Multiply word variable follow three naming styles
#   1. snake_case (most use)
#   2. camelCase
#   3. PascalCase

first_name = "KzRaihan"  # snake_case
lastName = "Raihan"      # camelCase
BookPrice = 599.99       # PascalCase


# printing the variable value
print("First Name: ", first_name)
print("Last Name: ", lastName)
print("Book Price: ", BookPrice)

First Name:  KzRaihan
Last Name:  Raihan
Book Price:  599.99

#### Comments
- Comments donâ€™t affect program execution, but they are essential for understanding, maintaining, and collaborating on code.

- Comments use to explain the code.

- Two way to define comments
   - 1. single line comments
   - 2. Multi-line comments

In [ ]:
# 1. single-line comments
# This is a single line comment.

num = 10 # assign value to num variable

In [ ]:
# 2. Multi-line comments

'''
This is multi-line
comments

Note: In jupyter notebook we comments in markdown cell.

'''

### Indentation Rule

- Python uses indentation to define blocks of code.
- Consists of 4 spaces or a tab.

In [8]:
age = 18

if age < 20:
    print("You are a minor")

print("Welcome to the adult world!")

You are a minor
Welcome to the adult world!