### Topic: List Data Structure

#### OUTCOMES

- 1. Introduction to list.

- 2. Creating lists.

- 3. lists Indexing
  
- 4. lists Slicing 
    
- 5. Lists Method.

- 6. Iteration over lists.

- 7. List Comprehensions.

- 8. Practical Example.

### 1. Introduction to list.

- list are ordered, mutable collection of items.

In [ ]:
# Syntax of list
'''
list_name = [item1, item2, ....]


'''
# List names follow the same pattern as variable names.

### 2. Creating lists

In [1]:
# Create an empty list

# first way
lst = []

print(lst)

print(type(lst))

[]
<class 'list'>

In [2]:
# Second way
empty_lst = list()

print(empty_lst)

print(type(empty_lst))

[]
<class 'list'>

In [ ]:
# Create string list

name = ["Kz", "Mehedi", "Sakib", "Rifat", "Shanto", "Sabbir", "Sukanto"]

print(name)

print(type(name))

['Kz', 'Mehedi', 'Sakib', 'Rifat', 'Shanto', 'Sabbir', 'Sukanto']
<class 'list'>

In [7]:
# Create number list

nums = [10, 15, 20, 30, 40, 50, 60]

print(nums)

print(type(nums))

[10, 15, 20, 30, 40, 50, 60]
<class 'list'>

In [8]:
# Create Mixed list

student = ["Kz", 24, 5.6, "ML Engineer", 999.99, True]

print(student)

print(type(student))

['Kz', 24, 5.6, 'ML Engineer', 999.99, True]
<class 'list'>

### 3. lists Indexing
- Access and modify the list items

- list maintain 0-base indexing.

In [ ]:
''' 
-------------------------------------------------
| 0   |  1  |  2   |       3     |    4   |   5 |  <-- This is positive index.
--------------------------------------------------
["Kz" , 24  ,  5.6  , "ML Engineer", 999.99, True]  # This is list items.
---------------------------------------------------
| -6 |  -5  |  -4 |       -3     |    -2   |   -1 |  <-- This is Negative index.
---------------------------------------------------

'''

#### >> Access list items

In [10]:
# Access list items using positive idx

student = ["Kz", 24, 5.6, "ML Engineer", 999.99, True]

first_item = student[0]

third_item = student[2]

print(first_item)

print(third_item)

Kz
5.6

In [11]:
# # Access list items using Negative idx
# Negative idx start at the end.

student = ["Kz", 24, 5.6, "ML Engineer", 999.99, True]

last_item = student[-1]

print(last_item)

True

In [12]:
# another example of Negative idx

print(student[-4])

5.6

#### >> modify the list item.

In [ ]:
''' 
-------------------------------------------------
| 0   |  1  |  2   |       3     |    4   |   5 |  <-- This is positive index.
--------------------------------------------------
["Kz" , 24  ,  5.6  , "ML Engineer", 999.99, True]  # This is list items.
---------------------------------------------------
'''

In [17]:
#### modify the list single item using positive idx.

student = ["Kz", 24, 5.6, "ML Engineer", 999.99, True]

student[0] = "Raihan"

student[1] = 20

student[5] = False

print(student)

['Raihan', 20, 5.6, 'ML Engineer', 999.99, False]

In [20]:
#### modify the list single item using Negative idx.

student = ["Kz", 24, 5.6, "ML Engineer", 999.99, True]

student[-2] = 2500

student[-5] = 26

print(student)

['Kz', 26, 5.6, 'ML Engineer', 2500, True]

### 4. lists Slicing 

- Access and modify the multiple items in lists

In [21]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums)

print(type(nums))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
<class 'list'>

In [ ]:
''' 
-----------------------------------------------------------
| 0  |  1  |  2  |  3   |  4   |  5 |  6 |  7  |  8 |  9  |        <-- This is positive index.
------------------------------------------------------------
[10  | 20  | 30  |  40  |  50  |  60 | 70 | 80 | 90 | 100 |        # This is list items.
------------------------------------------------------------
| -10|  -9 |  -8 |  -7  |  -6  |  -5 | -4 | -3  | -2 |  -1 |        <-- This is Negative index.
-------------------------------------------------------------

'''

In [ ]:
# Syntax of Slicing

'''
list [start_idx : end_idx: step_size ]

here, 
   start_idx = 0 (By Default value)
   
   end_idx   = lenght of the list (Defalut value) and it is not include

   step_size = 1 (By Defalut value)


'''
# Note : if we do not set the value for slicing idx then it is automatically calculation by using defalut values.

In [22]:
# Access the items using slicing with positive idx

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[0:6:1]) # here, 6 is Exclusive

[10, 20, 30, 40, 50, 60]

In [ ]:
print(nums[6: : 1]) # empty end_idx means automatically count the length of list.(Defalut value)

[70, 80, 90, 100]

In [26]:
print(nums[::2])

[10, 30, 50, 70, 90]

In [ ]:
# For nums[::2] 
''' 
how to calculate step size 

start_idx = 0 (by default)

end_idx  = length of the list (by default) here it's 10. (length follow 1-base indexing).

step_size = 0 + 2
          = 2  print 2 idx item (for first iteration).

    2nd time:
           2 + 2
          = 4  print 4 idx item 

   3th time:
           4 + 2
          = 6  print 6 idx item 

    4th time:
           6 + 2
          = 8  print 8 idx item 

    5th time:
           8 + 2
          = 10   # here 10 is the last idx. this is not include. so this will not print.      
        
 so the ouput:
0, 2, 4, 6, 8 . print only this idx values.

'''

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[:])  # print based on defaut idx values.

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Note:  Always start idx is smaller than the end idx when we deal with positive idx and if the step size is also positive.

print(nums[9:1])

[]

In [ ]:
''' 
------------------------------------------------------------
[10  | 20  | 30  |  40  |  50  |  60 | 70 | 80 | 90 | 100 |        # This is list items.
------------------------------------------------------------
| -10|  -9 |  -8 |  -7  |  -6  |  -5 | -4 | -3  | -2 |  -1 |       <-- This is Negative index.
-------------------------------------------------------------

'''

In [ ]:
# Access the items using slicing with Negative idx

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[-10:-1:1])  # here, step size = 1 and it's positive

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [35]:
# if the step is negative then

print(nums[-10:-1:-1])  # here, step size = 1 and it's positive

[]

In [ ]:
# Why the output is empty for nums[-10:-1:-1] this case

''' 
Because 
 start_idx = -10 (small idx)

 end_idx = = -1 (Bigger idx)

 step size = -1 (step is decrement)

 here, 

 1st iteration:
 --------------

 step_size = -10 - 1
          = -11    # but our list(nums) -11 idx is not present. 

That way the output of the list is empty.
'''

In [36]:
# Access the items using slicing with Negative idx

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[-1:-9:-2])

[100, 80, 60, 40]

In [39]:
# Reverse the list using negative step size.
print(nums[::-1])

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

### 5. Lists Method.

In [43]:
ban_fruits = ["Apple", "Mango", "Banana", "Cheery"]

print(ban_fruits)

['Apple', 'Mango', 'Banana', 'Cheery']

#### i. list.append("item")
- Add an item at the end of the list.

In [44]:
ban_fruits.append("Lemon")

print(ban_fruits)

['Apple', 'Mango', 'Banana', 'Cheery', 'Lemon']

#### ii. list.insert(idx, "item")

- Add item at specific index

In [45]:
ban_fruits.insert(2,"Litchi")

print(ban_fruits)

['Apple', 'Mango', 'Litchi', 'Banana', 'Cheery', 'Lemon']

#### iii. list.index("item")

- Return the item idx of the first occurance.

In [47]:
print(ban_fruits)

['Apple', 'Mango', 'Litchi', 'Banana', 'Cheery', 'Lemon']

In [50]:
idx_cheery = ban_fruits.index("Cheery")

print(idx_cheery)

4

In [ ]:
# Verify
print(ban_fruits[4])

Cheery

In [52]:
# Insert another item
ban_fruits.insert(4,"Mango")

print(ban_fruits)

['Apple', 'Mango', 'Litchi', 'Banana', 'Mango', 'Cheery', 'Lemon']

#### iv. list.count("Item")

- Count the item inside the list.

In [53]:
print(ban_fruits.count("Mango"))

2

#### v. list.remove("Item")

- Remove the item of first occurance that's inside the list.

In [55]:
print(ban_fruits)

['Apple', 'Mango', 'Litchi', 'Banana', 'Mango', 'Cheery', 'Lemon']

In [56]:
ban_fruits.remove("Mango")

print(ban_fruits)

['Apple', 'Litchi', 'Banana', 'Mango', 'Cheery', 'Lemon']

In [57]:
# count Mango item
print(ban_fruits.count("Mango"))

1

#### vi. list.pop()

- Remove and return the last item in the list.

In [58]:
last_item = ban_fruits.pop()

print(ban_fruits)
print(last_item)

['Apple', 'Litchi', 'Banana', 'Mango', 'Cheery']
Lemon

#### vii. list.copy()

- copy all list items

In [59]:
copy_fruits = ban_fruits.copy()

print(copy_fruits)

['Apple', 'Litchi', 'Banana', 'Mango', 'Cheery']

#### viii. list.sort()

- sort all items in acending order

In [60]:
ban_fruits.sort()

print(ban_fruits)

['Apple', 'Banana', 'Cheery', 'Litchi', 'Mango']

#### iX. list.reverse()

- sort all items in decending order

In [61]:
ban_fruits.reverse()

print(ban_fruits)

['Mango', 'Litchi', 'Cheery', 'Banana', 'Apple']

#### X. del list[idx]

- deleted item according to the index.

In [ ]:

del ban_fruits[3]  # Deleted the 3 idx item

print(ban_fruits)

['Mango', 'Litchi', 'Cheery', 'Apple']

#### Xi. list.clear()

- clear all item in the list.

In [69]:
ban_fruits.clear()

print(ban_fruits)

[]

### 6. Iteration over lists.

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for item in nums:
    print(item)

10
20
30
40
50
60
70
80
90
100

#### list iteration using enumerate()

- enumerate() function return vale and it's corresponding idx at a time.

- enumerate(iterable, start_idx = 0)

In [ ]:
# Example_01: enumerate()

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for idx, i in enumerate(nums, start=0):  # start = 0 (By default value and it's optional)
    print(idx, i)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90
9 100

In [74]:
# Example_02: enumerate()

student = ["Kz", "Sakib", "Sunkanto", "Rafit", "Shanto", "Sabbir"]

for idx, item in enumerate(student, start=1):
    print(f"index : {idx} and Name: {item}")

index : 1 and Name: Kz
index : 2 and Name: Sakib
index : 3 and Name: Sunkanto
index : 4 and Name: Rafit
index : 5 and Name: Shanto
index : 6 and Name: Sabbir

### 7. List Comprehensions.

- - provide a more readable and concise way to create collections compared to traditional loops.

In [ ]:
# Synatax of List comprehension

'''
# 1. Basic Syntax
[ expression  for item in iterable ]

# 2. With Conditional logic 

[ expression for item iterable  if condition ]


here, expression = output

'''

In [ ]:
# Example_01: lList comprehension with Basic Syntax

# first traditional way to print 1 to 10

lst = []

for i in range(1,11):
    lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
## Apply List comprehension 

lst = [ i for i in range(1,11)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
# Example_02: List comprehension with Basic Syntax

# Traditional way to print square 1-10 numbers

squre_num = []

for item in range(1,11):
    squre_num.append(item ** 2)

print(squre_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
# Apply list comprehension

num_squre = [item**2 for item in range(1,11)]

print(num_squre)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [90]:
# 2. list comprehension With Conditional logic

# print only even number(1-20) using traditional way

# Traditional way

even_num = []

for i in range(1,21):
    if i%2 == 0:
        even_num.append(i)

print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [91]:
# Apply list comprehension 

num_even = [i for i in range(1, 21) if i%2 == 0]

print(num_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [94]:
# apply list comprehension

even_lst = []
odd_lst = []

[even_lst.append(i) if i%2==0 else odd_lst.append(i) for i in range(1,11) ]

print(even_lst)
print(odd_lst)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### 8. Practical Example.

In [95]:
# Eg_01: WAP to sum a list 50 numbers

lst = []
sum = 0

for item in range(1,51):
    lst.append(item)
    sum += item

print(lst)
print(f"Sum of first 50 numbers: {sum}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Sum of first 50 numbers: 1275

In [ ]:
# Eg_01: WAP to ask the user to enter names their 4 favorite movies and store them in list.

fv_movies = []

for movies in range(4):
    
    movies = input("Enter your 4 fv movie: ")
    fv_movies.append(movies)

print(fv_movies)

['The Will Robot', 'Devdas', 'Bahubali 2', 'Parineeta']