## Topic : Set Data Structure in Python

### OUTCOMES

- 1. Introduction of sets.

- 2. Creating sets.

- 3. Sets Method

- 4. Iteration over set

- 5. Mathematical Operation

- 6. Practical Example

### 1. Introduction of sets.

- Set is build-in data type in Python that Store collection of unique elements in unorder format.

### 2. Creating sets

In [ ]:
# Synatx of sets
'''  
set_name = {value1, value2 ,...}  # curly braces

'''

In [6]:
# Create empty set


empty_set = set()  # curly braces

print(empty_set)

print(type(empty_set))

set()
<class 'set'>

In [ ]:
# example_01: Create set 

num_set = {10, 20, 30, 40, 50, 60, 70, 80}

print(num_set)  # print into unorder format.

print(type(num_set))

{70, 40, 10, 80, 50, 20, 60, 30}
<class 'set'>

In [ ]:
# Example_02: Creating set

mix_set = {"Kz", 24, 5.6, "Python"}

print(mix_set)

{24, 'Python', 5.6, 'Kz'}

In [ ]:
# Example_03: Create set for mutable data type values (list).

diff_data_set = {"Kz", 10, [2,3,5]}

print(diff_data_set)  # list is mutable data type

TypeError: unhashable type: 'list'

In [ ]:
# Example_04: Create set for immutable date type values (tuple)

diff_set = {"Kz", 10, (2,3,5)}

print(diff_set)

{(2, 3, 5), 10, 'Kz'}

### 3. sets Methods

In [ ]:
# Method_01: set.add(element) 
# add the element in the sets

my_set = {10, 20, 30, 40, 50, 60, 70, 80}

my_set.add(100)

print(my_set)  # Store in unorder format

{100, 70, 40, 10, 80, 50, 20, 60, 30}

In [ ]:
# example_02: set.add(element)

my_set(10)

print(my_set)  # set can't add duplicate elements.

TypeError: 'set' object is not callable

In [ ]:
#Method_02: set.remove(element)
# remove the element in the sets

# eg_01: set.remove(element)

my_set.remove(40) 

print(my_set)

{100, 70, 10, 80, 50, 20, 60, 30}

In [ ]:
# Example_02: set.remove(element)
# if the element is not member of the set then it's generate errors (KeyError).

my_set.remove(40)

print(my_set)

KeyError: 40

In [ ]:
#Method_02: set.discard(element)
# remove the element in the sets if element in member.

# eg_01: set.discard(element)
print(my_set)

my_set.discard(70)

print(my_set)

{100, 70, 10, 80, 50, 20, 60, 30}
{100, 10, 80, 50, 20, 60, 30}

In [20]:
# eg_02: set.discard(element)
# if the element is not member then it's not generated error(KeyErrors).


print(my_set)

my_set.discard(70)

print(my_set)

{100, 10, 80, 50, 20, 60, 30}
{100, 10, 80, 50, 20, 60, 30}

In [21]:
# Method_03: set.pop()

# Remove and Return random element in the set.

rand_element = my_set.pop()

print(rand_element)

print(my_set)

100
{10, 80, 50, 20, 60, 30}

In [ ]:
# when we try to pop an element for empty set then it's generated error (KeyError)

empty_set = set()

print(empty_set)

rand_element = empty_set.pop()

print(rand_element)

set()

KeyError: 'pop from an empty set'

In [ ]:
# Method_04 : set.clear()

# clear all the elements inside the set

print(my_set)

my_set.clear()

print(my_set)  # this is empty set

{10, 80, 50, 20, 60, 30}
set()

### 4. Iteration over set

In [29]:
# Iteration over set
my_set = {10, 20, 30, 40, 50, 60, 70, 80}

for item in my_set:
    print(item)

70
40
10
80
50
20
60
30

In [30]:
# create an empty set then add some elements

emp_set = set()

for item in range(1,11):
    emp_set.add(item)

print(emp_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 5. Mathematical Operation

In [31]:
# 1. union: set1.union(set2)

# combine all elements except duplicate.

num1 = {10, 20, 30, 40, 50, 60}

num2 = {40, 50, 60, 70, 80, 90}

all_unique_element = num1.union(num2)

print(all_unique_element)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
# 2. intersection: set2.intersection(set2)

# Return only common elements 

common_elements = num2.intersection(num1)

print(common_elements)

{40, 50, 60}

In [ ]:
#  3. difference operator
# Remove the intersection elements and return the non-intersection elements 

print(f"num1 is : {num1}")
print(f"num2 is : {num2}")

diff_set = num1.difference(num2)

print(f"Differnce is : {diff_set}")

num1 is : {50, 20, 40, 10, 60, 30}
num2 is : {80, 50, 70, 40, 90, 60}
Differnce is : {10, 20, 30}

In [ ]:
# 4. symmetric differnce

# Remove the intersection elements of the both sets and store both sets non-intersection elements.

print(f"num1 is : {num1}")
print(f"num2 is : {num2}")

sym_diff = num1.symmetric_difference(num2)

print(sym_diff)

num1 is : {50, 20, 40, 10, 60, 30}
num2 is : {80, 50, 70, 40, 90, 60}
{70, 10, 80, 20, 90, 30}

### 6. Practical Example

In [41]:
# Example_01: Given that an list
# [1,2,3,1,5,6,2,3,9,10,5,5,6,7,8,5] print all the unique elements in this list

# slove

lst = [1,2,3,1,5,6,2,3,9,10,5,5,6,7,8,5]

unique_element = set(lst)

print(unique_element)

{1, 2, 3, 5, 6, 7, 8, 9, 10}